@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #1a232e;
}

@layer base {
  /* width */
  ::-webkit-scrollbar {
    @apply w-1;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-gray-700;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-500 rounded-xl;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500 dark:bg-gray-400;
  }
}
